{% extends  'base.html' %}

{% block title %}
login
{% endblock %}

{% block article %}
	<div class="login-box box">
		<table border="1px" align="center">
			<caption>login</caption>
			<tr>
				<td>username:</td>
				<td><input id="name" type="text" name="name"></td>
			</tr>
			<tr>
				<td>password:</td>
				<td><input id="password" type="password" name="password"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input id="loginbtn" type="button" value='login'></td>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
		$(function(){
			$.ajaxSetup({
    				data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
			});
			$("#loginbtn").bind("click", function(){
				$.post({
					url:'/login/',
					data:{
						'name': $('#name').val(), 
						'password':$("#password").val()
					},
					success:function(data){
						if($.parseJSON(data)['msg'] == 'ok'){
							window.location.href= "/";
						}else{
							alert("error");
						}
					}
				});
			});
			
		});
	</script>
{% endblock %}
